body {
  margin: 0;
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.container {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 25px;
  max-width: 450px;
  min-width: 350px;
}

.screen {
  position: relative;
}

.error {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FF0000;
  text-align: end;
  font-weight: 600;
  width: 300px;
  max-height: 50px;
  overflow: hidden;
  word-wrap: break-word;
}


.invalid {
  border-color: #dc3545;
}

.invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

.list-group-item {
  padding: 10px !important;
  font-weight: 600;
}